p {
    color: rgb(255, 255, 255);
    font-family: pixel;
    font-size: 25px;
}
.titulo{
    display: flex;
    justify-content: center;
    font-family: estatica;
}

h3 {
    color: rgb(167, 167, 167);
    font-family: pixel;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}

.puppet{
    color: red;
}
.chilla{
    color: rgb(151, 3, 151);
}
.torture{
    color: yellow;
}
.games{
    color: rgb(4, 4, 129);
}
.imagen{
    object-fit: cover;
}
section{
    background-image: url(https://png.pngtree.com/background/20210714/original/pngtree-splattered-blood-drops-halloween-blood-background-picture-image_1220406.jpg);
    background-size: cover;
}


@font-face {
    font-family: pixel;
    src: url(../../compartidos/footer/VT323/VT323-Regular.ttf);
}