.navegador{
	background-color: rgb(70, 3, 3) !important;
}
.nav-link{
	font-family: fuentesita;
	font-size: 16px;
	
}
.registro{
	background-color: rgb(70, 3, 3);
	color: rgb(214, 214, 214);
	font-family: fuentesita;
}
.sesion{
color:rgb(214, 214, 214);
}
@font-face{
	font-family: fuentesita;
	src: url("Rubik_Glitch/RubikGlitch-Regular.ttf");
}
a{
	color: rgb(214, 214, 214) !important;
}
