.navegador{
	background-color: rgb(70, 3, 3) !important;
}
.nav-link{
	font-family: fuentesita;
	font-size: 26px;
	
}
@font-face{
	font-family: fuentesita;
	src: url("Rubik_Glitch/RubikGlitch-Regular.ttf");
}
a{
	color: rgb(214, 214, 214) !important;
}
