.card{
    margin: 0%;
    border-color: rgb(70,3,3);
    border-radius: 0%
}
.card-body{
    background-color: rgb(70,3,3);
}
p{
   font-family: pixel; 
   font-size: 20px;
   color: rgb(214, 214, 214);
}

@font-face{
	font-family: pixel;
	src: url("VT323/VT323-Regular.ttf");
}