<img src="/assets/puppet.png" alt="" class="logo" />
<div class="container">
  <div class="row">
    @for (puppet of puppetCombo; track puppet.id) {
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
        <div class="card">
          <img src="{{ puppet.img }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title texto">{{ puppet.nombre }}</h5>
            <p class="card-text texto"></p>
            <a class="precio texto">{{ puppet.precio }}</a>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn info"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop1"
            >
              Info.
            </button>
            <!-- Modal -->
            <div
              class="modal fade"
              id="staticBackdrop1"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="staticBackdropLabel1"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel1">{{ puppet.nombre }}</h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="puppet.cr1" class="d-block w-100" alt="..." height="254px" />
                        </div>
                        <div class="carousel-item">
                          <img src="puppet.cr2" class="d-block w-100" alt="..." height="254px" />
                        </div>
                        <div class="carousel-item">
                          <img src="puppet.cr3" class="d-block w-100" alt="..." height="254px" />
                        </div>
                        <div class="carousel-item">
                          <img src="puppet.cr4" class="d-block w-100" alt="..." height="254px" />
                        </div>
                      </div>
                      <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="prev"
                      >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExample"
                        data-bs-slide="next"
                      >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>{{ puppet.desc }}</p>
                    <button type="button" class="btn agregar">Agregar al Carrito</button>
                    <button type="button" class="btn cerrar" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<img src="/assets/Chilla.jpg" alt="" class="logo" />
<div class="container">
  <div class="row">
    @for (chilla of chillasArt; track chilla.id) {
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
        <div class="card">
          <img src="{{ chilla.img }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title texto">{{ chilla.nombre }}</h5>
            <p class="card-text texto"></p>
            <a class="precio texto">{{ chilla.precio }}</a>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn info"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop2"
            >
              Info.
            </button>
            <!-- Modal -->
            <div
              class="modal fade"
              id="staticBackdrop2"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="staticBackdropLabel2"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel2">{{ chilla.nombre }}</h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div id="carouselExample2" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="" class="d-block w-100" alt="..." height="254px" />
                        </div>
                        <div class="carousel-item">
                          <img src="" class="d-block w-100" alt="..." height="254px" />
                        </div>
                        <div class="carousel-item">
                          <img src="" class="d-block w-100" alt="..." height="254px" />
                        </div>
                        <div class="carousel-item">
                          <img src="" class="d-block w-100" alt="..." height="254px" />
                        </div>
                      </div>
                      <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExample2"
                        data-bs-slide="prev"
                      >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExample2"
                        data-bs-slide="next"
                      >
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <p>{{ chilla.desc }}</p>
                    <button type="button" class="btn agregar">Agregar al Carrito</button>
                    <button type="button" class="btn cerrar" data-bs-dismiss="modal">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
